
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div> 
        <h1 style="color:#ff0000">HAS INTRODUCIDO UN ID INCORRECTO</h1>
    </div>
    @Html.ActionLink("Volver Atras","Index")
</body>
</html>
